<ion-view title="Inbox" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <a ui-sref="tabsController.messages" id="inbox-button11" class=" button button-positive  button-block icon-right ion-compose ">New Message</a>
        <ion-list id="inbox-list1" class=" ">
            <ion-item ng-repeat="thread in inbox" class="item-icon-right positive  " id="inbox-list-item{{ thread.id }}">
                <span>10:15</span>
            {{ thread.body }}
                <span class="item-note">Anoosh Roozrokh </span>

                <i class="icon ion-android-star-outline"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>