<ion-view title="Add contact to groups" id="addGroupContact" class=" " ng-init="init()" cache-view="false">
    <ion-content padding="true" class="has-header">
        <form id="contacts-form2" class="list ">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="" ng-model="search">
            </label>
            <div id="contacts-button-bar2" class=" button-bar ">

                <button id="newContact-button14" class=" button button-dark  button-block " ng-click="cancelGroup()">Back</button>
                 <button id="newContact-button14" class=" button button-positive   button-block " ng-click="attachContactsToGroupp()">Attach to group</button>
            </div>
        </form>

        <ion-list id="contacts-list2" class=" ">



          
                
                
               <ion-checkbox ng-repeat="contact in contacts | filter:search" ng-model="contact.checked"   id="contacts-list-item9"> 
                     
                        <h2>{{contact.name}}</h2>
                        <p>{{contact.cellphone}}</p>
                     </ion-checkbox>

                    
                   
           


        </ion-list>
    </ion-content>
</ion-view>