<ion-view title="Login" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="login-form8" class="list ">
            <ion-list id="login-list6" class=" ">
                <label class="item item-input " id="login-input13">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="login-input14">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button id="login-button9" class=" button button-stable  button-block ">Log in</button>
        </form>
    </ion-content>
</ion-view>