<ion-view title="Login" id="page13" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="login-form10" class="list ">
            <h1 id="login-heading1" style="color:#000000;text-align:center;" class=" ">SMSVoip</h1>
            <ion-list id="login-list6" class=" ">
                <label class="item item-input " id="login-input24">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="login-input25">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="tabsController.inbox" id="login-button17" class=" button button-stable  button-block ">Log in</a>
            <a ui-sref="signup" id="login-button18" class=" button button-positive  button-block button-clear ">Or create an account</a>
        </form>
    </ion-content>
</ion-view>