<ion-view title="Messages" id="page11" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="messages-form6" class="list " ng-init="initContacts()">
            <label class="item item-input " id="messages-input10">
                <input type="tel" ion-autocomplete placeholder="Number: " ng-model="message.number" readonly="readonly" class="ion-autocomplete" autocomplete="on"
                   item-value-key="id"
                   item-view-value-key="name"
                   items-method="getAllContact(query)"
                   items-method-value-key="items"
                   placeholder="Enter test query ..."
                   items-clicked-method="itemsClicked(callback)"
                   items-removed-method="itemsRemoved(callback)"
                   max-selected-items="10"
                >
            </label>
            <label class="item item-input " id="messages-textarea8">
                <textarea placeholder="Type Message" height="600" ng-disabled="sendStatus=='sending'" ng-model="message.body"></textarea>
            </label>
        </form>
        <button id="messages-button6" class=" button button-positive  button-block icon-right ion-android-send " ng-disabled="sendStatus=='sending'" ng-click="send(message)">Send</button>
    </ion-content>
</ion-view>