<ion-view title="Profile" id="page10" class=" "  ng-init="init()" cache-view="false">
    <ion-content padding="true" class="has-header">
        <form id="newContact-form7" class="list ">
            <ion-item class="item-divider " id="newContact-list-item-divider6">Company Information</ion-item>
            <label class="item item-input " id="newContact-input13">
                <span class="input-label">Name</span>
                <input type="text" placeholder="" ng-model="company.company_name">
            </label>

        </form>
        <form id="newContact-form7" class="list ">
            <ion-item class="item-divider " id="newContact-list-item-divider6">Profile Information</ion-item>
            <label class="item item-input " id="newContact-input13">
                <span class="input-label">Name</span>
                <input type="text" placeholder="" ng-model="user.name" >
            </label>
            <label class="item item-input " id="newContact-input13">
                <span class="input-label">Email</span>
                <input type="text" placeholder="" ng-model="user.email" disabled="disabled">
            </label>
            <label class="item item-input " id="newContact-input13">
                <span class="input-label">Personal Cell</span>
                <input type="text" placeholder="" ng-model="user.cellphone" >
            </label>

        </form>
        <form id="newContact-form7" class="list ">
            <ion-item class="item-divider " id="newContact-list-item-divider6">Change Password</ion-item>
            <label class="item item-input " id="login-input25">
                <span class="input-label">Old Password</span>
                <input type="password" placeholder="Enter Old Password" ng-model="change.oldpassword">
            </label>
            <label class="item item-input " id="login-input25">
                <span class="input-label">New Password</span>
                <input type="password" placeholder="Enter New Password" ng-model="change.newpassword">
            </label>
            <label class="item item-input " id="login-input25">
                <span class="input-label">Confirm Password</span>
                <input type="password" placeholder="Enter Confirm Password" ng-model="change.confirmpassword">
            </label>

        </form>

        <form id="newContact-form7" class="list ">
            <ion-item class="item-divider " id="newContact-list-item-divider6">Plan Information</ion-item>
            <ion-list id="contacts-list2" class=" ">



                <ion-item class="item-avatar  "  id="contacts-list-item9">

                </ion-item>


            </ion-list>


        </form>
    </ion-content>
</ion-view>