<ion-view title="Setting" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="setting-form3" class="list ">
            <ion-item class="item-divider " id="setting-list-item-divider1">Personale Information</ion-item>
            <ion-item class="item-avatar  " id="setting-list-item24">
                <h2>Avatar</h2>
                <p>change your avatar</p>
            </ion-item>
            <label class="item item-input " id="setting-input3">
                <span class="input-label">Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="setting-input8">
                <span class="input-label">Personal #</span>
                <input type="tel" placeholder="">
            </label>
            <div class="spacer" style="width: 300px; height: 24px;"></div>
        </form>
        <form id="setting-form5" class="list ">
            <ion-item class="item-divider " id="setting-list-item-divider2">Change Password</ion-item>
            <label class="item item-input " id="setting-input5">
                <span class="input-label">Old</span>
                <input type="password" placeholder="Password">
            </label>
            <label class="item item-input " id="setting-input6">
                <span class="input-label">New</span>
                <input type="password" placeholder="Password">
            </label>
            <label class="item item-input " id="setting-input7">
                <span class="input-label">Confirm</span>
                <input type="password" placeholder="Password">
            </label>
            <div class="spacer" style="width: 300px; height: 24px;"></div>
        </form>
        <ion-list id="setting-list3" class=" ">
            <ion-item class="item-divider " id="setting-list-item-divider3">Email</ion-item>
            <label class="item item-input " id="setting-input9">
                <span class="input-label">Email Address</span>
                <input type="email" placeholder="besingamk@yahoo.com">
            </label>
            <ion-toggle toggle-class="toggle-positive" id="setting-toggle2" class=" ">Email Notification</ion-toggle>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 26px;"></div>
        <ion-list id="setting-list4" class=" ">
            <ion-item class="item-divider " id="setting-list-item-divider4">Phone Settings</ion-item>
            <ion-toggle toggle-class="toggle-positive" id="setting-toggle4" class=" ">Phone WebRTC</ion-toggle>
            <ion-radio id="setting-radio2" name="incoming-calls" class=" ">Ring The Device</ion-radio>
            <ion-radio id="setting-radio5" name="incoming-calls" class=" ">Send to VoiceMail</ion-radio>
            <ion-radio id="setting-radio4" name="incoming-calls" class=" ">Disable</ion-radio>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 23px;"></div>
        <ion-list id="setting-list5" class=" ">
            <ion-item class="item-divider " id="setting-list-item-divider5">Message Settings</ion-item>
            <ion-toggle toggle-class="toggle-positive" id="setting-toggle5" class=" ">Forward Incoming</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="setting-toggle6" class=" ">Sound Notifications</ion-toggle>
            <label class="item item-input " id="setting-textarea3">
                <span class="input-label">Signature</span><textarea placeholder=""></textarea>
            </label>
            <ion-toggle toggle-class="toggle-positive" id="setting-toggle8" class=" ">Disable Incoming</ion-toggle>
            <label class="item item-input " id="setting-textarea4">
                <span class="input-label">Auto-Response</span><textarea placeholder=""></textarea>
            </label>
        </ion-list>
        <button id="setting-button13" class=" button button-balanced  button-block ">Save</button>
    </ion-content>
</ion-view>