<ion-view title="Setting" id="page7" class=" "  ng-init="init()" cache-view="false">
    <ion-content padding="true" class="has-header">


        <div class="spacer" style="width: 300px; height: 26px;"></div>
        <ion-list id="setting-list3" class=" ">
            <ion-item class="item-divider " id="setting-list-item-divider4">Forwarding Devices</ion-item>
            <ion-item class="item item-icon-right" ng-repeat="device in profile.forwarding_devices" >{{device.number}} </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 26px;"></div>
        <ion-list id="setting-list4" class=" ">
            <ion-item class="item-divider " id="setting-list-item-divider4">Phone Settings</ion-item>
            <!--<ion-item class="item item-icon-right" >Phone WebRTC  <i class="icon assertive ion-close-circled"  ng-if="profile.phone_webrtc_enabled!=1"></i> <i class="icon ion-checkmark-circled balanced" ng-if="profile.phone_webrtc_enabled==1"></i> </ion-item>-->
             <ion-toggle toggle-class="toggle-positive" id="newContact-toggle10" class=" " ng-model="profile.phone_webrtc_enabled" >Phone WebRTC</ion-toggle>
             <ion-radio ng-model="profile.route_incoming_call" ng-value="1">Ring the devices enabled above</ion-radio>
             <ion-radio ng-model="profile.route_incoming_call" ng-value="2">Send incoming calls to voicemail</ion-radio>
             <ion-radio ng-model="profile.route_incoming_call" ng-value="3">Disable incoming calls</ion-radio>
            <ion-toggle toggle-class="toggle-positive" id="newContact-toggle10" class=" " ng-model="profile.transcribe_voicemail" >Transcribe voicemail</ion-toggle>
           

        </ion-list>
        <div class="spacer" style="width: 300px; height: 23px;"></div>
        <ion-list id="setting-list5" class=" ">
            <ion-item class="item-divider " id="setting-list-item-divider5">Message Settings</ion-item>
            <ion-toggle toggle-class="toggle-positive" id="newContact-toggle10" class=" " ng-model="profile.forward_incoming_message" >Forward Incoming</ion-toggle>
           
           <ion-toggle toggle-class="toggle-positive" id="newContact-toggle10" class=" " ng-model="profile.sound_notification" >Enable Sound Notifications</ion-toggle>

            <ion-toggle toggle-class="toggle-positive" id="newContact-toggle10" class=" " ng-model="profile.desktop_notification" >Enable desktop notifications for this computer</ion-toggle>

            <ion-toggle toggle-class="toggle-positive" id="newContact-toggle10" class=" " ng-model="profile.hide_link_bulk_message" >Hide Link in Bulk Messages</ion-toggle>

           

            <label class="item item-input " id="setting-textarea3">
                <span class="input-label">Signature</span><textarea placeholder=""  ng-model="profile.message_signature"></textarea>
            </label>
            
            <ion-toggle toggle-class="toggle-positive" id="newContact-toggle10" class=" " ng-model="profile.disable_incoming_message" >Disable Incoming Messages</ion-toggle>
         

            <label class="item item-input " id="setting-textarea4">
                <span class="input-label">Auto-Response</span><textarea placeholder=""  ng-model="profile.auto_response_message"></textarea>
            </label>


        </ion-list>

    </ion-content>
</ion-view>