<ion-view title="Signup" id="page14" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="signup-form11" class="list ">
            <h1 id="signup-heading2" style="color:#000000;text-align:center;" class=" ">SMSVoip</h1>
            <p id="signup-markdown2" style="color:#000000;text-align:center;" class=" ">sign up a new account for your company</p>
            <ion-list id="signup-list7" class=" ">
                <label class="item item-input " id="signup-input26">
                    <span class="input-label">Company</span>
                    <input type="text" placeholder="" ng-model="registration.company">
                </label>
                <label class="item item-input " id="signup-input27">
                    <span class="input-label">Full Name</span>
                    <input type="text" placeholder="" ng-model="registration.name">
                </label>
                <label class="item item-input " id="signup-input28">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="" ng-model="registration.email">
                </label>
                <label class="item item-input " id="signup-input29">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="" ng-model="registration.password">
                </label>
            </ion-list>
          <!--<a ui-sref="login" ng-click="register()" id="signup-button19" class=" button button-stable  button-block ">Sign up</a>-->
          <a ng-click="register()" id="signup-button19" class=" button button-stable  button-block ">Sign up</>
        </form>
    </ion-content>
</ion-view>
