<ion-view title="Group - {{group.name}}"  id="group-view" name="group-view" class=" " ng-init="editInit()" cache-view="false">
    <ion-content padding="true" class="has-header">
        <form id="contacts-form2" class="list ">

            <div id="contacts-button-bar2" class=" button-bar ">
                <button id="newContact-button14" class=" button button-dark  button-block " ng-click="cancel()">Back</button>
                <button ng-click="addContactGroup()" id="addGroupContact"
                   class=" button button-positive  button-block icon ion-android-person-add "></button>
                <button id="contacts-button5"
                        class=" button button-calm   button-block icon ion-edit " ng-click="editGroup()"></button>
                <button id="contacts-button5"
                        class=" button button-assertive   button-block icon ion-close " ng-click="deleteGroup()"></button>
            </div>
        </form>

        <ion-list id="contacts-list2" class=" ">

            <ion-item class="item-divider " id="newContact-list-item-divider7">Keyword - {{group.keywords}}</ion-item>


            <ion-item class="item-avatar  " ng-repeat="contact in group.contacts"  id="contacts-list-item9">
                <div class="row">
                    <div class="col col-75">
                        <h2>{{contact.name}}</h2>
                        <p>{{contact.cellphone}} </p>
                    </div>
                    <div class="col  col-25">

                        <button class="button button-positive">
                            <i class="icon ion-android-textsms"></i>
                        </button>
                        <a class="button button-assertive" ui-sref="contact-edit({id: {{contact.id}} })">
                            <i class="icon ion-edit"></i>
                        </a>
                        <button  class="button button-assertive" ng-click="detachContactById($index)">
                            <i class="icon ion-close"></i>
                        </button>

                    </div>
                </div>
            </ion-item>


        </ion-list>
    </ion-content>
</ion-view>